@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.cdk-overlay-pane {
  max-width: none !important;
}

mat-dialog-container {
  padding: 0px !important;
}

.mat-divider {
    display: block;
    border-top-style: solid;
    border-top-width: 1px;
    margin: 0;
}
